@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-color: var(--primaryColor);
    cursor: var(--cursor);
    overflow-x: hidden;

    --cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👌</text></svg>") 16 0,auto;
    --primaryColor: black;
    --secondaryColor: #fe9102;
    --buttonColor: #676767;
    --textNormal: white;
    --textTitle: white;
 }

 body::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--primaryColor); /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--secondaryColor); 
  }