.popup_title {
  color: var(--textTitle);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Styles pour le conteneur principal du carrousel */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Styles pour l'image affichée */
.relative {
  position: relative;
  display: inline-block;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Animation pour faire glisser l'image vers la droite */
@keyframes minionAnimation {
  from {
    transform: translateX(-3000%) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateX(0) rotate(1800deg);
    opacity: 1;
  }
}

/* Ajoutez la classe d'animation à l'image */
.slide_animation {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
  animation: minionAnimation 2s ease-in-out;
  transform-origin: bottom; 
}

/* Style pour le texte sous l'image */
.imageText {
  text-align: center;
  color: #333;
  font-size: 18px;
  margin-top: 10px;
}

/* Styles pour les boutons "Précédent" et "Suivant" */
.buttonsContainer {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carouselButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
