.popup_title {
  color: var(--textTitle);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Styles pour le conteneur principal du carrousel */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Styles pour l'image affichée */
.relative {
  position: relative;
  display: inline-block;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Style pour le texte sous l'image */
.imageText {
  text-align: center;
  color: #333;
  font-size: 18px;
  margin-top: 10px;
}

/* Styles pour les boutons "Précédent" et "Suivant" */
.buttonsContainer {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carouselButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

@keyframes amongUsAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(600%);
    opacity: 1;
  }
}

.animationAmongUs {
  position: absolute;
  left: 0;
  bottom: 0;
  animation: amongUsAnimation 15s ease-in-out;
  transform-origin: bottom;
}

@keyframes slideAnimationAh {
  from {
    transform: translateX(-100%) rotate(0deg);
  }
  to {
    transform: translateX(0%) rotate(360deg);
  }
}

@keyframes slideAnimationNice {
  from {
    transform: translateX(-100%) rotate(0deg);
  }
  to {
    transform: translateX(0%) rotate(360deg);
  }
}

/* Animation pour l'image "Hide the Pain Harold" */
@keyframes slideAnimationHarold {
  from {
    transform: translateX(-100%) rotate(0deg);
  }
  to {
    transform: translateX(0%) rotate(660deg);
  }
}

@keyframes slideAnimationWii {
  from {
    transform: translateX(-100%) rotate(0deg);
  }
  to {
    transform: translateX(0%) rotate(860deg);
  }
}

@keyframes slideAnimationAmongUs {
  from {
    transform: translateX(-100%) rotate(0deg);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideAnimationbieng {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.1);
  }
}

@keyframes slideAnimationCoffin {
  from {
    transform: translateX(-100%) rotate(0deg);
  }
  to {
    transform: translateX(0%) rotate(960deg);
  }
}

@keyframes slideAnimationZemmour {
  from {
    transform: translateX(-100%) rotate(0deg);
  }
  to {
    transform: translateX(0%) rotate(11160deg);
  }
}

@keyframes slideAnimationCat {
  from {
    transform: translateX(-100%) rotate(0deg);
  }
  to {
    transform: translateX(0%) rotate(11160deg);
  }
}

@keyframes slideAnimationThunes {
  from {
    transform: translateY(-100%) rotate(0deg);
  }
  to {
    transform: translateY(0%) rotate(11160deg);
  }
}

.imageAh {
  animation: slideAnimationHarold 1s ease-in-out;
}

.imageHarold {
  animation: slideAnimationHarold 1s ease-in-out;
}

.imageNice {
  animation: slideAnimationNice 1s ease-in-out;
}

.imageWii {
  animation: slideAnimationWii 1s ease-in-out;
}

.imageAmongUs {
  animation: slideAnimationAmongUs 1.3s ease-in-out;
}

.imageBieng {
  animation: slideAnimationbieng 3s ease-in-out;
}

.imageCoffin {
  animation: slideAnimationCoffin 1s ease-in-out;
}

.imageZemmour {
  animation: slideAnimationZemmour 2s ease-in-out;
}

.imageCat {
  animation: slideAnimationCat 1s ease-in-out;
}

.imageThunes {
  animation: slideAnimationThunes 1s ease-in-out;
}
.zemmour2 {
  animation: zemmourAnimation 2s ease-in-out;
  transform-origin: bottom;
  margin-top: 400px;
  width: 30%;
}

@keyframes zemmourAnimation {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}